* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0
}

figure,
p,
h1,
h2,
h3 {
  margin: 0
}

a {
  text-decoration: none;
  color: white;
}

a,
button {
  cursor: pointer;
}

::-webkit-scrollbar{
  display: none;
}

html {
  background: linear-gradient(to bottom, #160A38, black);
  color: white;
  padding: 35px 90px;
  min-height: 100vh;
 
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}

.menu {
  display: flex;
  gap: 150px;
}

.menu a {
  color: rgba(255, 255, 255, 0.70);

}

.menu a.active {
  color: white;
  border-bottom: 1px solid white;
}




/* ____________ tech orbit - 궤도 ______________ */

/* :root{
    --progress:70;
} */

svg {
  position: absolute;
  top: -1px;
  left: -4px;
  margin: 0px;
  transform: rotate(-90deg);
}

svg circle:nth-of-type(1) {
  stroke-dasharray: calc(74px * 3.14);
  stroke-dashoffset: calc(74px * 3.14);
  stroke-width: 3px;
  filter: blur(2px);

  animation: line 1s linear forwards;
}

svg circle:nth-of-type(2) {
  stroke-dasharray: calc(74px * 3.14);
  stroke-dashoffset: calc(74px * 3.14);

  animation: line 1s linear forwards;
}

svg circle:nth-of-type(3) {

  transform-origin: 40px 40px;
  animation: orbit 1s linear forwards;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(37px);
  }

  100% {
    transform: rotate(calc(var(--progress) * 3.6deg)) translateX(37px);
  }
}

@keyframes line {
  100% {
    stroke-dashoffset: calc(74px * 3.14 * (1 - var(--progress) / 100));
  }
}

 #nav-icon3 {
  display: none;}

/* ──────────────────── header 반응형 ────────────────────── */

/* 1669px 이하 */
@media (max-width:1669px) {
  header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
  }

  .menu {
    display: flex;
    gap: 100px;
  }

  .menu a {
    color: rgba(255, 255, 255, 0.70);
  }

  .menu a.active {
    color: white;
    border-bottom: 1px solid white;
  }
}

/* 1380px 이하 */
@media (max-width:1380px) {
  .menu {
    display: flex;
    gap: 70px;
  }
}


/* 1180px 이하 */
@media (max-width:1180px) {
  header {
    font-size: 17px;
    font-weight: 400;
  }

  .menu {
    display: flex;
    gap: 45px;
  }
}


/* 920px 이하 */
@media (max-width:920px) {
  header {
    font-size: 16px;
    font-weight: 400;
  }

  .menu {
    display: flex;
    gap: 35px;
  }
}


/* 860px 이하 */
@media (max-width:860px) {
  header {
    font-size: 16px;
    font-weight: 400;
  }

  .menu {
    display: none;
    opacity: 0;
    gap: 35px;
  }

  /* menu에 open 클래스가 붙으면...(버거메뉴가 열리면) */
  .menu.open {
    position: absolute;
    top: 70px;
    right: 30px;

    display: flex;
    flex-direction: column;
    gap: 35px;
    background: rgb(40, 27, 77);
    padding: 20px 30px;

    transition: 2s;
    z-index: 10;
    animation: fadeIn 0.5s ease-in-out forwards;

  }

  @keyframes fadeIn {

    to {
      opacity: 1;
    }
  }


  #nav-icon3 {
    display: block;
    width: 60px;
    height: 45px;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
    transform: scale(0.5);
  }

  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #9DFFFA;
    border-radius: 9px;
    opacity: 1;
    left: 0;

    transition: .25s ease-in-out;
  }


  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 18px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 36px;
  }



  /* icon3에 open 클래스가 붙으면 실행 하는 스타일 ↓ ↓ ↓ */
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  /* Icon 4 */

  #nav-icon4 {}

  #nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  #nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }
}