/* 전페이지 큰제목 스타일 */
.title {
    font-size: 40px;
    padding: 70px 0 0 0;
}


/* Home */
main {
    width: 100%;
    position: relative;

    .H_title {
        display: flex;
        flex-direction: column;
        height: 750px;
        justify-content: center;
        gap: 105px;

        h1 {
            padding: 0 0 20px 0;
            line-height: 0;
            color: #9DFFFA;
            font-size: 50px;
        }

        .H_titleMain {
            font-size: 100px;
            font-weight: 600;
            line-height: 1.3;

            .H_name {
                border-top: 1px solid white;
                width: 60%;
            }
        }

        .H_link {
            display: flex;
            gap: 105px;
            font-size: 36px;
            margin: 0;

            b {
                color: #9DFFFA;
            }
        }
    }


    /* home, about - 궤도 */
    .H_imgBox_group {
        position: absolute;
        right: 0;
        top: 0px;

        .H_imgBox {
            padding: 100px 20px 0 0;
            margin: 0;

            img {
                width: 455px;
                height: 645px;
            }

            .H_note {
                position: absolute;
                top: 43%;
                left: 130px;
                width: 200px;
                text-align: center;
                font-size: 17px;
                font-weight: 500;
            }
        }

        .diamond {
            position: absolute;
            left: -100px;
            top: 130px;
            opacity: 0.7;
        }

        .diamond rect {
            width: 16px;
            height: 16px;
            transform: translate(-10px, -10px) rotate(45deg);
        }

    }



}


/* About */
.A_all {
    width: 100%;

    /* 소제목 전역 스타일 */
    .mission_profile {
        font-size: 25px;
        width: 100%;
        border-bottom: 1px solid #9DFFFA;
        padding: 10px;
    }

    /* 내용 전역 스타일 */
    .mission_note {
        font-size: 17px;
        padding: 0 10px;
        margin: 0;
        color: #cfcfcf;
    }

    .A_contentsBox {
        padding: 40px 0 0 0;
        width: 100%;

        .A_textAll {
            padding: 30px;
            width: 60%;

            .A_data {
                display: grid;
                gap: 50px;

                .A_mission {
                    display: grid;
                    gap: 20px;
                }

                .A_profile {
                    display: grid;
                    gap: 20px;

                    .A_profileAll {
                        display: grid;
                        gap: 20px;
                    }

                    .A_profile_note {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 0 10px;
                        line-height: 0;

                        .profileIcon {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }

    }
}


/* tech orbot (skills) */
.S_section {
    padding: 50px 0 0 0;

    .s_boxAll {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 30px;

        .s_box {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .S_id {
                width: 74px;
                height: 74px;
                text-align: center;
                display: grid;
                align-items: center;
                flex-shrink: 0;
                /* flex 고유 사이즈 제어기능 제거 */
            }

            .S_skill_note {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 20px;
                position: relative;

            }
        }
    }
}



/* project */
.P_list {
    min-height: 545px;
    width: 100%;
    position: relative;

    .P_thumbList {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        padding: 30px 150px;


        .P_listOne {
            width: 336px;
            height: 255px;
            position: relative;

            &:hover .P_hover {
                opacity: 1;
            }

            .P_thumbnail {
                width: 100%;
                height: 100%;
                display: block;
                border: 1px solid #3f3f3f;
            }

            .P_hover {
                height: 100%;
                width: 100%;
                background-color: #000000c9;
                border: 1px solid #3f3f3f;
                position: absolute;
                top: 0%;
                left: 0%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                opacity: 0;
                transition: 0.5s;

                .P_data {
                    display: grid;
                    gap: 40px;
                    font-size: 19px;

                    .P_name {
                        font-weight: 600;
                    }

                    .P_link {
                        padding: 10px 50px;
                        background-color: #160A38;
                        color: #9DFFFA;
                        text-decoration: none;
                        border: 1px solid #3f3f3f;
                    }

                    .P_link:hover {
                        box-shadow: 2px 4px 0 #3f3f3f;
                        transform: translateY(-1px);
                    }
                }
            }
        }
    }

}


/* project - popup */
.popup {

    background-color: rgba(0, 0, 0, 0.637);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 110;

     .X {
            position: absolute;
            top: calc(5vh + 20px);
            right: calc(25vw + 20px);
            margin: 0;
            cursor: pointer;
            z-index:999;
        }

    .popup_back {
        opacity: 0;
        transform: translateY(20%);
        animation: show .5s forwards;

        @keyframes show {
            100% {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        overflow: auto;

        /* 전체 바 */
        &::-webkit-scrollbar {
            width: 6px;
        }

        /* 스크롤 막대 */
        &::-webkit-scrollbar-thumb {
            background: rgb(65, 65, 65);
            border-radius: 10px;
        }

        /* 배경 투명 */
        /* &::-webkit-scrollbar-track {
            background: transparent;
        } */

        &::-webkit-scrollbar {
            display: block;
        }

        b {
            font-size: 20px;
        }

        p {
            color: rgb(177, 177, 177);
        }

        background-color: #252525;
        border: 1px solid #3f3f3f;
        width: 50vw;
        height: 90vh;
        padding: 3vw;
        border-radius: 2vw;

        .ppp_title {
            padding: 0 0 30px 0;

            .ppp_title_github {
                display: flex;
                align-items: center;
                padding: 0 0 30px 0;
                gap: 10px;
            }

            .ppp_img {
                width: 100%;
            }
        }

        .ppp_data {


            .ppp_note {
                display: flex;
                gap: 40px;
                padding: 0 0 50px 0;

                .ppp_tool {

                    .tool {
                        border: 1px solid #666666;
                        background-color: black;
                        padding: 0 10px;
                        border-radius: 10px;
                        color: #9DFFFA;
                        font-size: 14px;
                    }

                    .ppp_toolname {
                        display: flex;
                        gap: 5px;
                        padding: 10px 0 0 0;
                    }
                }

                .ppp_url {

                    .ppp_link {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
            }

            .ppp_text {
                padding: 0 0 30px 0;
            }
        }

       
        .X_back {
            /* position: relative; */

        }
    }
}


/* guest book (book) */
.book_section {
    padding: 40px 0 0 0;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;

    p,
    button,
    textarea {
        font-size: 17px;
    }

    .guestBook {

        .nickName {
            padding: 0 0 10px 0;
            display: flex;
            gap: 10px;
            width: 10%;

            input {
                width: 200px;
                padding: 5px;
                background-color: black;
                border: 1px solid #3f3f3f;
                border-radius: 5px;
                color: white;
            }

            input:focus {
                outline: none;
                border: 1px solid #9DFFFA;
                box-shadow: 0 0 5px #9DFFFA;
            }
        }

        .book_guest {


            display: flex;
            justify-content: space-between;

            .book_text {
                width: 80%;
                height: 70px;
                resize: none;
                background-color: black;
                border: 1px solid #3f3f3f;
                border-radius: 5px;
                color: white;
                padding: 10px;
            }

            textarea:focus {
                outline: none;
                border: 1px solid #9DFFFA;
                box-shadow: 0 0 5px #9DFFFA;
            }

            button {
                padding: 5px 0px;
                background-color: #252525;
                border: 1px solid #3f3f3f;
                border-radius: 5px;
                color: white;
                width: 17%;
                flex-shrink: 0;
            }

            button:hover {
                box-shadow: 2px 4px 0 #3f3f3f;
                transform: translateY(-2px);
            }

        }


        .book_list {
            display: grid;
            gap: 20px;
            padding: 20px 0 0 0;

            .book_note {
                display: flex;
                justify-content: space-between;
                gap: 50px;
                padding: 10px;
                border-bottom: 1px dashed #505050;

                .book_txt {
                    width: 80%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    word-break: break-word;
                }

                .book_detail {
                    display: flex;
                    gap: 10px;
                    padding: 20px 0 0 0;
                    width: 200px;
                    flex-shrink: 0;
                }
            }
        }

    }

    .book_page {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0 0 0;
        gap: 50px;

        p {
            font-size: 25px;
            font-weight: 100;
        }

        p.active {
            font-weight: 700;
        }

        .arrow_left,
        .arrow_right,
        p {
            cursor: pointer;
        }
    }
}





/* ──────────────────── 반응형 ────────────────────── */

/* 1669px 이하 */
@media (min-width:1536px) and (max-width:1669px) {

    /* home, about */
    main {

        .H_title {

            h1 {
                font-size: 4vw;
            }

            .H_titleMain {
                font-size: 5vw;

                .H_name {
                    width: 60%;
                }
            }
        }

        .A_all {
            .A_contentsBox {
                .A_textAll {
                    width: 55%;
                }
            }
        }
    }

    /* tech orbit */
    .S_section {
        padding: 50px 0 0 0;

        .s_boxAll {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            padding: 30px;

            .s_box {
                display: flex;
                flex-direction: column;
                gap: 50px;

                .S_id {
                    width: 74px;
                    height: 74px;
                    text-align: center;
                    display: grid;
                    align-items: center;
                    flex-shrink: 0;
                    /* flex 고유 사이즈 제어기능 제거 */
                }

                .S_skill_note {
                    width: 400px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    position: relative;

                }
            }
        }
    }

    /* guest book */
    .book_section {
        min-height: 0;
    }
}

/* 1567px 이하 -project */
@media screen and (max-width:1567px) {
     .popup .X{
            position: absolute;
            top: calc(10vh - 38px);
            right: calc(15vw - 38px);
            margin: 0;
            cursor: pointer;
        }
    .P_list .P_thumbList {
        padding: 30px;
    }
}

/* 1495px 이하 */
@media (min-width:1495px) and (max-width:1536px) {
    .S_section .s_boxAll {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 30px;

        .s_box {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .S_id {
                width: 74px;
                height: 74px;
                text-align: center;
                display: grid;
                align-items: center;
                flex-shrink: 0;
                /* flex 고유 사이즈 제어기능 제거 */
            }

            .S_skill_note {
                width: 400px;
                display: flex;
                align-items: center;
                gap: 20px;
                position: relative;
            }
        }
    }

    /* projext */
    .popup .popup_back {
        width: 70vw;
        height: 80vh;
    }

    /* guest book */
    .book_section {
        min-height: 0;
    }
}


/* 1488px 이하 */
@media (min-width:1321px) and (max-width:1495px) {

    /* home */
    main {

        .H_title {
            .H_titleMain {
                font-size: 80px;
            }

            .H_name {
                width: 100%;
            }
        }
    }

    /* tech orbit */
    .S_section {
        padding: 50px 0 0 0;

        .s_boxAll {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            padding: 30px;

            .s_box {
                display: flex;
                flex-direction: column;
                gap: 50px;

                .S_id {
                    width: 74px;
                    height: 74px;
                    text-align: center;
                    display: grid;
                    align-items: center;
                    flex-shrink: 0;
                    /* flex 고유 사이즈 제어기능 제거 */
                }

                .S_skill_note {
                    width: 300px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    position: relative;

                }
            }
        }
    }

    /* projext */
    .popup .popup_back {
        width: 70vw;
        height: 80vh;
    }

    .popup .popup_back .X_back .X {
        position: absolute;
        top: -50px;
        right: -50px;
    }

    /* guest book */
    .book_section {
        min-height: 0;
    }
}

/* 1320px 이하 */
@media screen and (max-width: 1320px) {

    html {
        overflow: visible;

        span {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /* about */
    main .H_imgBox {
        display: none;
    }

    .A_all .A_contentsBox {
        padding: 0;
    }

    .A_all .A_contentsBox .A_textAll {
        width: 100%;
        border: none;
        box-shadow: none;
        backdrop-filter: none;
        margin: 0 auto;
    }

    main .H_title h1 {
        font-size: 6vw;
    }

    main .H_title .H_titleMain {
        font-size: 7vw;
    }

    main .H_title .H_titleMain .H_name {
        width: 80%;
    }

    .A_all .mission_profile,
    .A_all .mission_note {
        width: 100%;
    }

    /* tech orbit */
    .S_section .s_boxAll {
        display: grid;
        grid: none;
    }

    .H_imgBox_group svg {
        display: none;
    }

    /* projext */
    .popup .popup_back {
        width: 70vw;
        height: 80vh;
    }

    /* project - hover effect 제거 */
    .P_list .P_thumbList .P_listOne .P_hover {
        opacity: 1;
        transition: 0s;
    }

    /* guest book */
    .book_section .guestBook .book_list .book_note {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .book_section .guestBook .book_guest .formtext .book_text {
        width: 100%;
    }

    .book_section {
        min-height: 0;
    }

    .book_section .guestBook .book_guest .formtext {
        flex-direction: column;
        gap: 10px;
    }

    .book_section .guestBook .book_guest .formtext button {
        width: 100%;
    }
}

/* 1035px 이하 */
@media screen and (max-width: 1035px) {

    /* 팝업 */
    .popup .popup_back .ppp_data .ppp_note {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    /* projext */
    .popup .popup_back {
        width: 70vw;
        height: 80vh;
    }

    .P_list .P_thumbList {
        padding: 30px 0;
    }

    /* guset book */
    .book_section .guestBook .book_guest {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .book_section .guestBook .book_guest .book_text,
    .book_section .guestBook .book_guest button {
        width: 100%;
    }
}

/* 906px 이하 - project */
@media (min-width:700px) and (max-width: 906px) {

    .P_list .P_thumbList {
        display: flex;
        gap: 20px;

    }

}


/* 580px 이하 */
@media (min-width:430px) and (max-width:580px) {
    html {
        padding: 10px;
    }

    main {

        .H_imgBox {
            display: none;
        }

        .H_title {

            h1 {
                font-size: 7vw;
            }

            .H_link {
                font-size: 5vw;
            }

            .H_titleMain {
                font-size: 7vw;

                .H_name {
                    width: 100%;
                }
            }
        }
    }

    /* project */
    .P_list .P_thumbList {
        padding: 30px 0;
    }

    /* project - hover effect 제거 */
    .P_list .P_thumbList .P_listOne .P_hover {
        opacity: 1;
        transition: 0s;
    }

    /* project - popup */
    .popup .popup_back .ppp_title .ppp_img {
        display: none;
    }

    /* guest book */
    .book_section .book_page {
        gap: 10%;
    }

}


/* 430px 이하 */
@media (min-width:300px) and (max-width:430px) {
    html {
        padding: 20px;
    }

    main {

        .H_imgBox {
            display: none;
        }

        .H_title {

            h1 {
                font-size: 8vw;
            }

            .H_link {
                font-size: 9vw;
                display: flex;
                gap: 50px;

                img {
                    display: none;
                }
            }

            .H_titleMain {
                font-size: 10vw;

                .H_name {
                    width: 100%;
                }
            }
        }
    }

    /* project */
    .P_list .P_thumbList {
        padding: 30px 0;
    }

    .popup .popup_back {
        width: 70vw;
        height: 80vh;
    }

    /* project - hover effect 제거 */
    .P_list .P_thumbList .P_listOne .P_hover {
        opacity: 1;
        transition: 0s;
    }

    /* project - popup */
    .popup .popup_back .ppp_title .ppp_img {
        display: none;
    }

    .popup .popup_back .ppp_title .ppp_title_github h1 {
        font-size: 7vw;
    }


    /* guest book */
    .book_section .book_page {
        gap: 10%;

        p {
            font-size: 5vw;
        }

        img {
            width: 10%;
            height: auto;
        }
    }

    .book_section {
        min-height: 0;
    }

    .book_section .guestBook .nickName .nickForm {
        flex-direction: column;
        gap: 10px;

        input {
            width: 100%;
        }

        button {
            width: 100%;
        }
    }
}